@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Monsieur+La+Doulaise&family=Petit+Formal+Script&display=swap");
.cookie {
  font-family: "Cookie", cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  color: #473d04;
}
.monsi {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 200;
  font-size: 4rem;
  color: #473d04;
}

.petit {
  font-family: "Petit Formal Script", cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  color: #3d3702;
}
.cookie-mini {
  font-family: "Cookie", cursive;
  font-weight: 200;
  font-style: italic;
  color: #3d3702;
}
.cookie-minil {
  font-family: "Cookie", cursive;
  font-weight: 200;
  font-style: italic;
  color: #ddd9d5;
}

body {
  background-color: #ffedd0;
  animation-name: bganim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  text-align: center;
  align-items: center;
  border:20px #a29173 double;
}
#content {
  padding: 3%;
  align-items: center;
}

.Reglas {
  background-color: #ceba9e;
  border: #918751 5px double;

}
.card-group{
  padding: 3%;
}

.card {
  background-color: #918751;
  margin: 3%;
  border: double 5px #ceba9e;
  
}
.card-body{
  
}
.ubic{
  margin: auto;
  align-items: center;
  background-color:#ceba9e;
  border: #918751 double 5px;

}
iframe{
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border:double #918751 10px;  
}
ul{
  margin: 10px;
  font-size: 1rem;
}
@keyframes bganim {
  from {
    background-color: #ffedd0;
  }
  to {
    background: color #fde3b9;
  }
}
